body{
    background-color: slategray;
    color: rgb(18, 19, 20);
    font-size: 3rem;
    font-weight: 500;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 87vh;
    /* background-color: yellow; */
}
@media only screen and (max-width:750px){
    body{
        font-size: 2rem;
    }
}

@media only screen and(min-width:280px){
    body{
        font-size: 12px;
    }
}
